@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    background: #404b51;
}

.mainContainer {
    padding: 2% 21%;
}

.countryButton {
    background: linear-gradient(100deg, #03a9f4, #03a9f4, #7cccf1, #03a9f4);
    animation: gradient 5s linear infinite;
    background-size: 200% 200%;
    border: 1px solid transparent;
    border-radius: 6px;
    color: #555;
    display: inline-block;
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: 0.7rem;
}

.countryButton:hover {
    cursor: pointer;
    color: #999;
}


.ronaContainer {
    background: #3e4549;
    border: 1px solid transparent;
    margin: 2rem auto;
    margin-left: 0;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.ronaContainer h2 {
    color: #c9c9c9;
}

.countryContainer, h2 {
    padding: 0;
    margin: 0.5rem;
}

.caseContainer, .deathContainer {
    border: 1px solid slategray;
    border-radius: 3px;
    display: inline-block;
    width: 40%;
    text-align: center;
    margin: 1rem;
}

.miscContainer {
    /* border: 1px solid black; */
    width: 90%;
    margin: 0.2rem auto;
    padding: 0.3rem;
    display: flow-root;
}

.miscContainer p {
    border-radius: 5px;
    margin-right: 1.5rem;
    padding: 0.3rem 1rem;
    float: left;
    overflow: auto;
}

.miscContainer p:first-of-type {
    margin-left: 26%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}